<html lang="en">
<head>
    <meta charset="utf-8"/>
    <link rel="stylesheet" href="http://code.jquery.com/ui/1.10.3/themes/smoothness/jquery-ui.css"/>
    <script src="http://code.jquery.com/jquery-1.10.1.min.js"></script>
    <script src="http://code.jquery.com/ui/1.10.3/jquery-ui.js"></script>
    <script>
        var state = 1
        $(function () {
            $("#toggle_button").click(function () {
                $.ajax("/toggle_led?led_state=" + (state * -1)).done(function () {
                    state *= -1;
                })
            })
        });
    </script>
</head>
<body>
<button id="toggle_button">Toggle LED</button>
</body>
</html>
